{% load pipeline %}
{% load webdesign %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% stylesheet 'bootflat' %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %}Alex's personal site{% endblock %}</title>

  <!-- CSS  -->
</head>
  <body>
   <div id="wrap">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header"></div>
        <ul class="nav navbar-nav">
          {% include "menuItems.html" %}
        </ul>
      </div>
    </nav>
  <main>
    <div class="container">
      <div class="section">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>
  <div id="push"></div>
  </div>

  <footer class="footer" id="footer">
      <div class="container">
      {% block footer %}
        <div class="clearfix">
            <div class="row">
              <div class="">
                <h5 class="nav-title">Info</h5>
                <p class="text-color:BDC3C7">This site was created by Alex Davies, as a place to put his various projects that aren't quite big enough to warrent their own domain, and to store his resume and blog. You can see the soure code on github <a href="">here</a>.</p>
              </div>
           </div>
         </div>
       </div>
       <div class="footer-copyright container">
        <span>With dread but cautious optimism</span>
        <span class="pull-right">© 2015 Alex Davies<span>
      </div>
      {% endblock %}
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  {% javascript 'materialize' %}
  </body>
</html>
